// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Staatliches|Josefin+Sans:400,600,700");
//@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");

// https://fonts.googleapis.com/css?family=Josefin+Sans:400,600"

// Define fonts for body and headers
$body-font: "Staatliches", "Helvetica", "cursive";
$headers-font: "Staatliches", "Helvetica", "cursive";
$p-font: "Josefin Sans", "sans-serif";
// $headers-font: "Josefin Sans", "sans-serif";
// $body-font: "Josefin Sans", "sans-serif";
//To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Futura Condensed Medium";
  src: font-url('FuturaCondensedMedium.eot');
  src: font-url('FuturaCondensedMedium.eot?#iefix') format('embedded-opentype'),
       font-url('FuturaCondensedMedium.woff') format('woff'),
       font-url('FuturaCondensedMedium.ttf') format('truetype'),
       font-url('FuturaCondensedMedium.svg#entypo') format('svg')
}
$my-font-1: "Futura Condensed Medium";

@font-face {
  font-family: "Futura Condensed Extra Bold";
  src: font-url('FuturaCondensedExtraBold.eot');
  src: font-url('FuturaCondensedExtraBold.eot?#iefix') format('embedded-opentype'),
       font-url('FuturaCondensedExtraBold.woff') format('woff'),
       font-url('FuturaCondensedExtraBold.ttf') format('truetype'),
       font-url('FuturaCondensedExtraBold.svg#entypo') format('svg')
}
$my-font-2: "Futura Condensed Extra Bold";
