<div class="wrapper">
  <div>
    <div class="wrappi-left">
      <div class="maps">
        <div class="image-map">
          <a href="https://www.google.com/maps?daddr=2+rue+Colas+91390+Morsang-sur-Orge" target="_blank">
            <%= image_tag "maps_vwva.jpg", class: "map-button", alt: "maps" %>
            <!-- <img src="../../assets/images/maps_vwva.jpg" alt=""> -->
          </a>
        </div>
        <div class="shadow-map"></div>
      </div>
    </div>
  </div>
  <div id="contact-details-svg" class="wrappi-right">
    <span id="wrappi-right-1">ARTISTE INVITÉ : VAXT</span>
    <span id="wrappi-right-2">Cathleen Henninot / Clyde Hestanoff</span>
    <span id="wrappi-right-3">Au Café Curieux, Galerie suréaliste et solidaire</span>
    <span id="wrappi-right-4">2 bis, rue Colas - 91390 Morsang-sur-Orge</span>
    <span id="wrappi-right-5">01 69 04 21 59 - 06 31 77 80 22</span>
    <span id="wrappi-right-6">DU LUNDI AU SAMEDI, DE 14H À 18H</span>
  </div>
</div>
