<div class="wrapper">
  <div>
    <div class="wrappi-left">
      <div class="maps">
        <div class="image-map">
          <a href="https://www.google.com/maps?daddr=2+rue+Colas+91390+Morsang-sur-Orge" target="_blank">
            <%= image_tag "maps_vwva.jpg", alt: "maps" %>
            <!-- <img src="../../assets/images/maps_vwva.jpg" alt=""> -->
          </a>
        </div>
        <div class="shadow-map"></div>
      </div>
    </div>
  </div>
  <div class="wrappi-right">
    <svg id="contact-details-svg" width="445px" height="279px" viewBox="0 0 445 279" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="Futura-CondensedMedium, Futura" font-style="condensed" font-weight="500">
        <g id="Desktop-HD" transform="translate(-734.000000, -1302.000000)" fill="#231F20">
          <g id="CONTACT" transform="translate(734.000000, 1302.000000)">
            <text id="DU-LUNDI-AU-SAMEDI,-DE-14H-À-18H." font-size="18">
              <tspan x="0" y="275">DU </tspan>
              <tspan x="20.4345703" y="275" letter-spacing="0.071">L</tspan>
              <tspan x="26.5876016" y="275">UNDI AU </tspan>
              <tspan x="78.7594766" y="275" letter-spacing="0.108">S</tspan>
              <tspan x="85.7844688" y="275">AMEDI, DE </tspan>
              <tspan x="148.318648" y="275" letter-spacing="-0.54">1</tspan>
              <tspan x="154.238609" y="275">4H À </tspan>
              <tspan x="184.912438" y="275" letter-spacing="-0.55">1</tspan>
              <tspan x="190.822398" y="275">8H.</tspan>
            </text>
            <text id="ARTISTE-INVITÉ-:-VAXT" font-size="36">
              <tspan x="4" y="35">A</tspan>
              <tspan x="18.6777344" y="35" letter-spacing="0.099">R</tspan>
              <tspan x="34.2982188" y="35">TI</tspan>
              <tspan x="53.8978281" y="35" letter-spacing="0.117">S</tspan>
              <tspan x="67.8839688" y="35">TE INVITÉ : </tspan>
              <tspan x="193.198422" y="35" letter-spacing="-0.195">V</tspan>
              <tspan x="205.659672" y="35">AXT</tspan>
            </text>
            <text id="Cathleen-Henninot-/-Clyde-Hestanoff" font-size="36">
              <tspan x="0" y="80">Cathleen Hennin</tspan>
              <tspan x="187.242188" y="80" letter-spacing="-0.026">o</tspan>
              <tspan x="201.050172" y="80">t / C</tspan>
              <tspan x="253.907594" y="80" letter-spacing="0.064">l</tspan>
              <tspan x="261.354406" y="80">yde He</tspan>
              <tspan x="339.682531" y="80" letter-spacing="0.036">s</tspan>
              <tspan x="350.476344" y="80" letter-spacing="0.011">t</tspan>
              <tspan x="358.520547" y="80">ano</tspan>
              <tspan x="401.165078" y="80" letter-spacing="0.207">f</tspan>
              <tspan x="410.952156" y="80">f</tspan>
            </text>
            <text id="Au-Café-Curieux,-Gal" font-size="30" letter-spacing="-0.039">
              <tspan x="0" y="148">Au Café Curieux, Galerie surréaliste et solidaire</tspan>
              <tspan x="0" y="185.878906">2 bis, rue Colas - 91390 Morsang-sur-Orge</tspan>
              <tspan x="0" y="223.757812">01 69 04 21 59 - 06 31 77 80 22</tspan>
            </text>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
