#title-les-ateliers-du-trou {
  font-family: "Futura Condensed Extra Bold";
}

#title-en-savoir-plus {
  font-family: "Futura Condensed Medium";
}

#contact-details-svg {
  font-family: "Futura Condensed Medium";
}

#vernissage-announce, #details-exposition {
  font-family: "Futura Condensed Extra Bold";
}
