#title-les-ateliers-du-trou {
  font-family: "Futura Condensed Extra Bold";
  font-style: condensed;
  font-weight: 700;
}

#title-en-savoir-plus {
  font-family: "Futura Condensed Medium";
  font-style: condensed;
  font-weight: 500;
}

#contact-details-svg {
  font-family: "Futura Condensed Medium";
  font-style: condensed;
  font-weight: 500;
}

#vernissage-announce, #details-exposition {
  font-family: "Futura Condensed Extra Bold";
  font-style: condensed;
  font-weight: 500;
}
