
@media screen and (max-width: 1600px) {
  #background-points-svg {
    width: 1438px;
    height: 1247px;
  }
}

@media screen and (max-width: 1440px) {
  #background-points-svg {
    width: 1438px;
    height: 1247px;
  }
}

@media screen and (max-width: 1400px) {
  #background-points-svg {
    width: 1400px;
    height: 1214.047288px;
  }
}

@media screen and (max-width: 1300px) {
  #background-points-svg {
    width: 1300px;
    height: 1127.329624px;
  }
}

@media screen and (max-width: 1200px) {
  #background-points-svg {
    width: 1200px;
    height: 1040.611961px;
  }
}

@media screen and (max-width: 1100px) {
  #background-points-svg {
    width: 1100px;
    height: 953.8942976px;
  }
}

@media screen and (max-width: 1000px) {
  #background-points-svg {
    width: 1000px;
    height: 867.1766342px;
  }
}

@media screen and (max-width: 900px) {
  #background-points-svg {
    width: 900px;
    height: 780.4589708px;
  }

  .wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  #background-points-svg {
    width: 800px;
    height: 693.7413074px;
  }
}

@media screen and (max-width: 700px) {
  #background-points-svg {
    width: 700px;
    height: 607.0236439px;
  }

  #title-les-ateliers-du-trou {
    width: 400px;
    height: 33.43465046px;
  }
}

@media screen and (max-width: 600px) {
  #background-points-svg {
    width: 600px;
    height: 520.3059805px;
  }

  .wrapper {
    width: 90%;
  }
  .bloc-en-savoir-plus {
    width: 400px;
    height: 220px;
  }
}

@media screen and (max-width: 500px) {
  #background-points-svg {
    width: 500px;
    height: 433.5883171px;
  }

  #title-les-ateliers-du-trou {
    width: 300px;
    height: 25.07598784px;
  }

  #text-workshop {
    width: 300px;
    height: 69.42857143px;
  }

  #contact-details-svg {
    width: 350px;
    height: 219.4382022px;
  }
}

@media screen and (max-width: 400px) {

  #background-points-svg {
    width: 400px;
    height: 346.8706537px;
  }

  .wrapper {
    width: 100%;
  }

  #text-workshop {
    width: 300px;
    height: 69.42857143px;
  }

  .bloc-en-savoir-plus {
    width: 350px;
  }
}
