@media screen and (min-width: 1600px) {
  #background-points {
    width: 1438px;
    margin: 0 auto;
  }
  #line-line {
    width: 1440px;
    margin: 0 auto;
    display: block;
  }
}

@media screen and (max-width: 1600px) {
//   // #background-points-svg {
//   //   width: 1438px;
//   //   height: 1247px;
//   // }
  .display-mobile {
    display: none;
  }
  .display-desktop {
    display: block;
  }
}

@media screen and (max-width: 1440px) {
//   // #background-points-svg {
//   //   width: 1438px;
//   //   height: 1247px;
//   // }
}

@media screen and (max-width: 1400px) {
  #background-points-svg {
    width: 1400px;
    height: 1214.047288px;
  }

  #line-line {
    width: 1400px;
  }
}

@media screen and (max-width: 1300px) {
  // // #background-points-svg {
  // //   width: 1300px;
  // //   height: 1127.329624px;
  // // }
  .wrapper {
    width: 80%;
  }

  #line-line {
    width: 1300px;
  }
}

@media screen and (max-width: 1200px) {
  // // #background-points-svg {
  // //   width: 1200px;
  // //   height: 1040.611961px;
  // // }
  .wrapper {
    width: 85%;
  }

  #line-line {
    width: 1200px;
  }
}

@media screen and (max-width: 1100px) {
  // // #background-points-svg {
  // //   width: 1100px;
  // //   height: 953.8942976px;
  // // }
  .wrapper {
    width: 90%;
  }

  #line-line {
    width: 1100px;
  }
}

@media screen and (max-width: 1000px) {
  // // #background-points-svg {
  // //   width: 1000px;
  // //   height: 867.1766342px;
  // // }
  .wrapper {
    width: 100%;
  }

  #line-line {
    width: 1000px;
  }
}

@media screen and (max-width: 900px) {
  #background-points-svg {
    width: 900px;
    height: 780.4589708px;
  }

  .wrapper {
    flex-direction: column;
    width: 70%;
  }

  .shadow-map {
    display: none;
  }

  .image-map {
    position: static;
  }

  #line-line {
    width: 900px;
  }

  .display-mobile {
    display: block;
  }
  .display-desktop {
    display: none;
  }
  .bloc {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  #background-points-svg {
    width: 800px;
    height: 693.7413074px;
  }

  #line-line {
    width: 800px;
  }

}

@media screen and (max-width: 700px) {
  #background-points-svg {
    width: 700px;
    height: 607.0236439px;
  }

  #title-les-ateliers-du-trou {
    width: 400px;
    height: 33.43465046px;
  }

  #line-line {
    width: 700px;
  }
}

@media screen and (max-width: 600px) {
  #background-points-svg {
    width: 600px;
    height: 520.3059805px;
  }

  .wrapper {
    width: 90%;
  }
  .bloc-en-savoir-plus {
    width: 400px;
    height: 220px;
  }

  #line-line {
    width: 600px;
  }
}

@media screen and (max-width: 500px) {
  #background-points-svg {
    width: 500px;
    height: 433.5883171px;
  }

  #title-les-ateliers-du-trou {
    width: 300px;
    height: 25.07598784px;
  }

  #text-workshop {
    width: 300px;
    height: 69.42857143px;
  }

  #contact-details-svg {
    width: 350px;
    height: 219.4382022px;
  }

  .image-map > a > img {
    width: 300px;
  }

  #line-line {
    width: 500px;
  }

  .bloc-en-savoir-plus {
    width: 350px;
    height: 220px;
  }
}

@media screen and (max-width: 400px) {

  #background-points-svg {
    width: 400px;
    height: 346.8706537px;
  }

  .wrapper {
    width: 100%;
  }

  #text-workshop {
    width: 300px;
    height: 69.42857143px;
  }

  .bloc-en-savoir-plus {
    width: 350px;
  }

  #line-line {
    width: 400px;
  }

  .bloc-en-savoir-plus {
    width: 350px;
    height: 200px;
  }
}

@media screen and (max-width: 300px) {
  #line-line {
    width: 300px;
  }

}
